body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.football-container {
    background-image: url(./assets/saha.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.score-card {
    background-color: rgba(4, 158, 4, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 254, 254, 0.3) ;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.score-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.5) !important;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.btn {
    border: 1px solid white !important; 
    color: white; 
}
.reset-button-container {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}
.btn-warning {
    background-color: rgba(4, 158, 4, 0.6) !important;
    font-size: 20px !important;
    padding: 10px 15px !important;
    border: 2px solid white !important;
    font-weight: 500 !important;
    color: white !important;
}
.btn-warning:hover {
    background-color: white !important;
    color: black !important;
}
@media (max-width: 768px) {
    .football-container {
        flex-direction: column; 
        gap: 10px; 
        height: auto; 
        padding: 20px 0; 
    }

    .reset-button-container {
        margin-top: 10px; 
        order: 3; 
    }
}






